##Prepare rules for the all the data sets
1) Try different values of support and confidence. Observe the change in number of rules for different support,confidence values
2) Change the minimum length in apriori algorithm
3) Visulize the obtained rules using different plots

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
from google.colab import files 
uploaded=files.upload()

Saving my_movies.csv to my_movies.csv

In [ ]:
movies=pd.read_csv("my_movies.csv")
movies

              V1             V2             V3  ... LOTR Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  ...    0          0           1
1      Gladiator        Patriot     Braveheart  ...    0          1           0
2          LOTR1          LOTR2            NaN  ...    0          0           0
3      Gladiator        Patriot    Sixth Sense  ...    0          0           0
4      Gladiator        Patriot    Sixth Sense  ...    0          0           0
5      Gladiator        Patriot    Sixth Sense  ...    0          0           0
6  Harry Potter1  Harry Potter2            NaN  ...    0          0           0
7      Gladiator        Patriot            NaN  ...    0          0           0
8      Gladiator        Patriot    Sixth Sense  ...    0          0           0
9    Sixth Sense           LOTR      Gladiator  ...    1          0           1

[10 rows x 15 columns]

In [ ]:
movies.shape

(10, 15)

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   V1             10 non-null     object
 1   V2             10 non-null     object
 2   V3             7 non-null      object
 3   V4             2 non-null      object
 4   V5             1 non-null      object
 5   Sixth Sense    10 non-null     int64
 6   Gladiator      10 non-null     int64
 7   LOTR1          10 non-null     int64
 8   Harry Potter1  10 non-null     int64
 9   Patriot        10 non-null     int64
 10  LOTR2          10 non-null     int64
 11  Harry Potter2  10 non-null     int64
 12  LOTR           10 non-null     int64
 13  Braveheart     10 non-null     int64
 14  Green Mile     10 non-null     int64
dtypes: int64(10), object(5)
memory usage: 1.3+ KB

In [ ]:
movies.isnull().sum()

V1               0
V2               0
V3               3
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [ ]:
movies.dtypes

V1               object
V2               object
V3               object
V4               object
V5               object
Sixth Sense       int64
Gladiator         int64
LOTR1             int64
Harry Potter1     int64
Patriot           int64
LOTR2             int64
Harry Potter2     int64
LOTR              int64
Braveheart        int64
Green Mile        int64
dtype: object

In [ ]:
movies_data=movies.copy()

In [ ]:
movies_data.head()

            V1       V2             V3  ... LOTR Braveheart  Green Mile
0  Sixth Sense    LOTR1  Harry Potter1  ...    0          0           1
1    Gladiator  Patriot     Braveheart  ...    0          1           0
2        LOTR1    LOTR2            NaN  ...    0          0           0
3    Gladiator  Patriot    Sixth Sense  ...    0          0           0
4    Gladiator  Patriot    Sixth Sense  ...    0          0           0

[5 rows x 15 columns]

In [ ]:
movies_data.drop(columns=['V1','V2','V3','V4','V5'],axis=1,inplace=True)

In [ ]:
movies_data.columns

Index(['Sixth Sense', 'Gladiator', 'LOTR1', 'Harry Potter1', 'Patriot',
       'LOTR2', 'Harry Potter2', 'LOTR', 'Braveheart', 'Green Mile'],
      dtype='object')

In [ ]:
movies_data.shape

(10, 10)

In [ ]:
frequent_items=apriori(df=movies_data,min_support=0.5,use_colnames=True)

In [ ]:
frequent_items

   support                  itemsets
0      0.6             (Sixth Sense)
1      0.7               (Gladiator)
2      0.6                 (Patriot)
3      0.5  (Sixth Sense, Gladiator)
4      0.6      (Patriot, Gladiator)

In [ ]:
rules=association_rules(df=frequent_items,metric='confidence',min_threshold=0.8)
rules

     antecedents  consequents  ...  leverage  conviction
0  (Sixth Sense)  (Gladiator)  ...      0.08         1.8
1      (Patriot)  (Gladiator)  ...      0.18         inf
2    (Gladiator)    (Patriot)  ...      0.18         2.8

[3 rows x 9 columns]

In [ ]:
#tweeking the values of support and confidence
frequent_items_1=apriori(df=movies_data,min_support=0.3,use_colnames=True)
frequent_items_1

   support                           itemsets
0      0.6                      (Sixth Sense)
1      0.7                        (Gladiator)
2      0.6                          (Patriot)
3      0.5           (Sixth Sense, Gladiator)
4      0.4             (Patriot, Sixth Sense)
5      0.6               (Patriot, Gladiator)
6      0.4  (Patriot, Sixth Sense, Gladiator)

In [ ]:
rules1=association_rules(df=frequent_items_1,metric='confidence',min_threshold=0.6)
rules1

                 antecedents               consequents  ...  leverage  conviction
0              (Sixth Sense)               (Gladiator)  ...      0.08         1.8
1                (Gladiator)             (Sixth Sense)  ...      0.08         1.4
2                  (Patriot)             (Sixth Sense)  ...      0.04         1.2
3              (Sixth Sense)                 (Patriot)  ...      0.04         1.2
4                  (Patriot)               (Gladiator)  ...      0.18         inf
5                (Gladiator)                 (Patriot)  ...      0.18         2.8
6     (Patriot, Sixth Sense)               (Gladiator)  ...      0.12         inf
7       (Patriot, Gladiator)             (Sixth Sense)  ...      0.04         1.2
8   (Sixth Sense, Gladiator)                 (Patriot)  ...      0.10         2.0
9                  (Patriot)  (Sixth Sense, Gladiator)  ...      0.10         1.5
10             (Sixth Sense)      (Patriot, Gladiator)  ...      0.04         1.2

[11 rows x 9 columns]

In [ ]:
frequent_items_2=apriori(df=movies_data,min_support=0.6,use_colnames=True)
frequent_items_2

   support              itemsets
0      0.6         (Sixth Sense)
1      0.7           (Gladiator)
2      0.6             (Patriot)
3      0.6  (Patriot, Gladiator)

In [ ]:
rules2=association_rules(df=frequent_items_2,metric='confidence',min_threshold=1)
rules2

  antecedents  consequents  antecedent support  ...      lift  leverage  conviction
0   (Patriot)  (Gladiator)                 0.6  ...  1.428571      0.18         inf

[1 rows x 9 columns]

In [ ]:
frequent_items_3=apriori(df=movies_data,min_support=0.4,use_colnames=True)
frequent_items_3

   support                           itemsets
0      0.6                      (Sixth Sense)
1      0.7                        (Gladiator)
2      0.6                          (Patriot)
3      0.5           (Sixth Sense, Gladiator)
4      0.4             (Patriot, Sixth Sense)
5      0.6               (Patriot, Gladiator)
6      0.4  (Patriot, Sixth Sense, Gladiator)

In [ ]:
rules3=association_rules(df=frequent_items_3,min_threshold=0.7)
rules3

                antecedents    consequents  ...  leverage  conviction
0             (Sixth Sense)    (Gladiator)  ...      0.08         1.8
1               (Gladiator)  (Sixth Sense)  ...      0.08         1.4
2                 (Patriot)    (Gladiator)  ...      0.18         inf
3               (Gladiator)      (Patriot)  ...      0.18         2.8
4    (Patriot, Sixth Sense)    (Gladiator)  ...      0.12         inf
5  (Sixth Sense, Gladiator)      (Patriot)  ...      0.10         2.0

[6 rows x 9 columns]