<a href="https://colab.research.google.com/github/fidafebin/fida-febin.k/blob/main/RidgeLassoElasticNet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [24]:
data=datasets.load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [26]:
boston_pd=pd.DataFrame(data.data)
boston_pd.columns = data.feature_names 
boston_pd_target = np.asarray(data.target) 
boston_pd['House Price'] = pd.Series(boston_pd_target)

In [27]:
x=boston_pd.iloc[:,:-1]
y=boston_pd.iloc[:,-1]

In [28]:
boston_pd

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,House Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [29]:
x_train, x_test, y_train, y_test = train_test_split(boston_pd.iloc[:, :-1],
                                                    boston_pd.iloc[:, -1],
                                                    test_size=0.25)

In [31]:
lreg=LinearRegression()
lreg.fit(x_train,y_train)
lreg_y_pred = lreg.predict(x_test)

In [32]:
mean_squared_error = np.mean((lreg_y_pred - y_test)**2) 
print("Mean squared Error on test set : ", mean_squared_error)

Mean squared Error on test set :  16.606450229305153

In [33]:
lreg_coefficient = pd.DataFrame() 
lreg_coefficient["Columns"] = x_train.columns 
lreg_coefficient['Coefficient Estimate'] = pd.Series(lreg.coef_) 
print(lreg_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.124955
1        ZN              0.042904
2     INDUS             -0.030966
3      CHAS              3.042936
4       NOX            -17.776732
5        RM              3.818907
6       AGE             -0.006004
7       DIS             -1.539770
8       RAD              0.320587
9       TAX             -0.011413
10  PTRATIO             -0.980458
11        B              0.009226
12    LSTAT             -0.485955

In [47]:
from sklearn.linear_model import Ridge

ridger=Ridge(alpha=2)
ridger.fit(x_train,y_train)
ridgepred=ridger.predict(x_test)

mse=np.mean((ridgepred-y_test)**2)

ridge_coefficient=pd.DataFrame()
ridge_coefficient["Columns"]=x_train.columns
ridge_coefficient["Coefficient Estimate"]=pd.Series(ridger.coef_)
print(ridge_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.119424
1        ZN              0.044260
2     INDUS             -0.074465
3      CHAS              2.745266
4       NOX             -6.443427
5        RM              3.874386
6       AGE             -0.015900
7       DIS             -1.370087
8       RAD              0.298573
9       TAX             -0.012631
10  PTRATIO             -0.872434
11        B              0.009488
12    LSTAT             -0.498917

In [50]:
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=0.5)
lasso.fit(x_train,y_train)
ypred=lasso.predict(x_test)

mse=np.mean((ypred-y_test)**2)

lassocoeff=pd.DataFrame()
lassocoeff['Columns']=x_train.columns
lassocoeff['Coefficient Estimate']=pd.Series(lasso.coef_)
print(lassocoeff)

    Columns  Coefficient Estimate
0      CRIM             -0.098935
1        ZN              0.044984
2     INDUS             -0.044158
3      CHAS              0.000000
4       NOX             -0.000000
5        RM              2.580483
6       AGE             -0.003342
7       DIS             -0.974136
8       RAD              0.296841
9       TAX             -0.015381
10  PTRATIO             -0.801258
11        B              0.009303
12    LSTAT             -0.600537

In [53]:
from sklearn.linear_model import ElasticNet

elasticnet=ElasticNet(alpha=0.5)
elasticnet.fit(x_train,y_train)

ypred=elasticnet.predict(x_test)

mse=np.mean((ypred-y_test)**2)

enetcoeff=pd.DataFrame()
enetcoeff["Columns"]=x_train.columns
enetcoeff["Coefficient Estimate"]=pd.Series(elasticnet.coef_)
print(enetcoeff)

    Columns  Coefficient Estimate
0      CRIM             -0.107389
1        ZN              0.048662
2     INDUS             -0.070816
3      CHAS              0.000000
4       NOX             -0.000000
5        RM              1.804586
6       AGE             -0.000204
7       DIS             -1.033316
8       RAD              0.330610
9       TAX             -0.016185
10  PTRATIO             -0.846242
11        B              0.009007
12    LSTAT             -0.645833